body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

#container {
    width: 1000px;
    height: auto;
    padding: 100px;
    background-image: linear-gradient(rgba(80,170,00,0.2), rgba(217,28,28,0.8)), url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg");
    background-size: cover;
    margin: 20px auto;
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #3f3f3f;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.613);
    padding: 30px;
}

#result {
    height: 120px;
    color: rgb(238, 238, 238);
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(193, 193, 193);
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
    border-radius: 8px;
    border-width: 1;
    border-color: rgb(193, 193, 193);
    font-weight: bold;
    font-size: 18px;
}

.number, .empty {        
    background-color: #2b87c5;
}

.number, .operator {
    cursor: pointer;
}

.operator:hover, .number:hover {  
    background-color: #216592;
}

.operator:focus, .number:focus, .empty:focus {  
    outline: 10;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}